body{
 
}
/* sidebar */

#sidebar {
  height: 59rem; 
  min-width: 250px;
  max-width: 250px;
  background: #001B48; /* Sidebar background color */
  color: #fff;
  transition: all 0.3s;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebarCollapse {
  background-color: #007bff; /* Change this to desired primary color */
  border-color: #007bff; /* Change this to desired primary color */
  color: #fff;
}

.img.bg-wrap {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.user-logo {
  margin-bottom: 1rem;
}

.user-logo h3 {
  margin-top: 0.5rem;
  font-size: 1.25rem;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.list-unstyled li {
  padding: 0.5rem 1rem;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.list-unstyled li.active {
  background-color: rgba(255, 255, 255, 0.1);
}

.list-unstyled a {
  color: #ccc;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.list-unstyled a:hover {
  color: #fff;
}

.list-unstyled .fa {
  width: 25px;
}

.notif {
  position: relative;
}

.notif small {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #dc3545;
}

.icon {
  margin-right: 8px; 
}
